
  <!-- layout for sign in panel -->
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- POST	/sign-in	users#signin -->
      <form id="confirm-email" class="form">
        <fieldset>
          <legend>Confirm email address</legend>
          <div class="form-group">
            <label for="sign-in-email">Email</label>
            <div class="input-group">
              <input type="email" class="form-control" name="credentials[email]"  placeholder="{{email}}" value="{{email}}">
            </div>
            <p class="help-block">Please enter an email address.</p>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Confirm</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
