<div>
  <h2>Take a peek at what tech meetups are out there</h2>
  <h3>...or sign in and check your saved meetups</h3>
  <div class="panel-body">
    <!-- search for meetups -->
    <form id="m-search" class="form">
      <fieldset>
        <div class="form-group">
          <label for="m-location" class="sr-only">Location</label>
          <div class="input-group">
            <input type="location" class="form-control" name="m_search[location]" id="m_location_place" placeholder="02110" value="02110">
          </div>
          <p class="help-block">Please enter a city or zip code.</p>
        </div>
        <div class="form-group">
          <label for="m_radius" class="sr-only">Radius</label>
          <div class="input-group">
            <input type="m_radius" class="form-control" name="m_location[radius]" id="m_location_radius" placeholder="5" value="5">
          </div>
          <p class="help-block">Please enter distance in miles.</p>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
