<div>
git
  {{#if user}}
    <h3>Take a peek at what tech meetups are out there</h3>
  {{else}}
    <h3>Take a peek at what tech meetups are out there</h3>
    <h4>...or sign in and check your saved meetups</h4>
  {{/if}}

  <form id="m-search" class="form-inline">
    <div class="form-group">
      <label for="m-location">Location</label>
      <input type="number" class="form-control"  name="m_search[location]" id="m_location_place" placeholder="02110" value="02110">
    </div>
    <div class="form-group">
      <label for="m_radius">radius</label>
      <input type="number" class="form-control" name="m_location[radius]" id="m_location_radius" placeholder="5" value="5">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
  </form>

</div>
